<h1 class="text-center">Plan Genial</h1>

<p class="lead text-center">
  ¡Plan Genial llegará a plataformas de streaming este 24 de abril!<br />
  Preguárdalo en Spotify:
</p>

<div class="container text-center">
  <img src="images/cover-art.jpg" alt="Your Image" class="img-fluid rounded shadow" style="max-width: 300px; height: auto;" />
  <br />
  <a [href]="getSpotifyAuthUrl()" class="btn-presave btn btn-success rounded-pill mt-3">
    <img src="images/spotify.svg" alt="Spotify Logo" class="spotify-logo" />
    Pre-save en Spotify
  </a>
</div>
